body {
    font-family: 'Inter';
}
.preview{
    background-image: url("../img/background.jpg");
}
.top-footer{
    background-image: url("../img/footer-background.jpg");
}

.btn-primary{
    background-color: #6d2eff;
    border-color: #6d2eff;
}
.btn-primary:hover{
    background-color: #6229e6;
    border-color: #6229e6;
}

.btn-primary.active{
    background-color: #6229e6;
    border-color: #6229e6;
}

.btn-primary:active{
    background-color: #6229e6;
    border-color: #6229e6;
}

.btn-primary.active:focus{
    box-shadow: 0 0 0 .25rem rgba(109,46,255,.5)
}

.btn-primary:focus{
    box-shadow: 0 0 0 .25rem rgba(109,46,255,.5)
}

.btn-outline-primary{
    border-color: #6d2eff;
    color: #6d2eff;
}

.btn-outline-primary:hover{
    background-color: #6229e6;
    border-color: #6229e6;
    color: white;
}

.btn-outline-primary.active{
    background-color: #6229e6;
    border-color: #6229e6;
    color: white;
}
.btn-outline-primary:active{
    background-color: #6229e6;
    border-color: #6229e6;
    color: white;
}

.btn-outline-primary.active:focus{
    box-shadow: 0 0 0 .25rem rgba(109,46,255,.5)
}
.btn-outline-primary:focus{
    box-shadow: 0 0 0 .25rem rgba(109,46,255,.5)
}

.list-unstyled a{
    text-decoration: none;
    color: black;
}

.custom-link{
    color: #6d2eff;
}

.card:hover{
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}
.card{
    margin-right: 10px;
}

.top-header-text{
    font-size: 12px;
    line-height: 15px;
    color: #747474
}

.top-header-navigate-text{
    font-size: 12px;
    line-height: 15px;
}

.btn{
    border-radius: 9px;
}

.catalog-btn{
    font-size: 16px;
    line-height: 19px;
}

.form-control {
    border-color: #6d2eff;
}

.input-group-text{
    /*background-color: #6d2eff;*/
    border-radius: 9px;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.input-search{
    padding: 0;
    margin-right: -10px;
    border-radius: 9px;
}
.form-control:focus{
    box-shadow: none;
    z-index: 1 !important;
    border-color: #6d2eff;
}

.input-group-search{
    align-items: normal !important;
    padding: 0 !important;
    border: 1px solid #6d2eff;
}

.search-btn{
    width: 73px;
    z-index: 4;
}

.cart-text, .favorite-text{
    font-size: 12px;
    color: #747474
}

.favorite-bold, .cart-bold {
    color: #212121;
    font-weight: 600;
}